.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  margin: 50px;
}
.heading {
  text-align: center;
  margin-top: 100px;
}
